.aboutme {
  @include regular;

  display: flex;
flex-direction: column;
align-items: center;
  &-header {
    padding-top: 1.5rem;
    font-size: 4.768rem;
  text-align: center;
  max-width: 80%;
  }
  &-text {
    padding: 1.5rem;
    width: 80vw;
max-width: 30em;
line-height: 1.5;
margin: 0 0 1.54rem;
font-size: 1.5rem;
text-align: justify;
hyphens: auto;
a {
  text-decoration: none;
  color: $secondary-color;
  &:hover {
    color: darken($secondary-color, 10%);
  }
}
  }

p::first-letter {
  float:left;
font-size: 6rem;
line-height: 4rem;
padding-right: 0.1rem;
}

p::first-line {
  font-variant:small-caps;
}

&-subtitle {
  @include regular-italic;

  max-width: 80%;
  text-align: center;
    font-size: 2.441em;
    color: $secondary-color;
}
  ul {
    list-style-position: inside;
    text-align: left;
  }
  li {
    padding-bottom: 0.25rem;
  }
}

@media only screen and (max-width: 576px) {
  .aboutme {
    &-header {
      font-size: 2rem;
    }
    &-text {
      font-size: 1.1rem;
      width: 90vw;
    }
    &-subtitle {
      font-size: 1.3rem;
    }
  }
}

#treehouse-badges {
  div img {
    width: 80%;
  }
  margin-bottom: 2rem;
}